
<form class="search-form" action="/search" method="post">
<div class="form-group inputwithicon">
<i class="lni-tag"></i>
<input type="text" name="customword" class="form-control" placeholder="What are you looking for?">

{{!-- <div class="form-group inputwithicon"> --}}
{{!-- <i class="lni-target"></i> --}}
{{!-- <div class="select">
<select name="location">
<option value="none" disabled>Locations</option>
<option value="USA">USA</option>
<option value="Ghana">Ghana</option>
<option value="Liberia">Liberia</option>
<option value="Brazil">Brazil</option>
<option value="Nigeria">Nigeria</option>
<option value="Other">Other</option>
</select>
</div> --}}
{{!-- </div> --}}
{{!-- <div class="form-group inputwithicon"> --}}
{{!-- <i class="lni-menu"></i> --}}
 {{!-- <div class="select">
<select name="categories">
<option value="none">Select Category</option>
<option value="mobiles">Mobiles</option>
<option value="electronics">Electronics</option>
<option value="training">Training</option>
<option value="real Estate">Real Estate</option>
<option value="services">Services</option>
<option value="vehicles">Vehicles</option>
<option value="other">Other</option>
</select>
</div> --}}
{{!-- </div> --}}
</div>
<button class="btn btn-common" type="submit"><i class="lni-search"></i> Search Now</button>
</form>