<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>NexusPlus - Classified Ads and Listing Template</title>

{{> cssLinks}}
</head>
<body>

<header id="header-wrap">

<div class="top-bar">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-5 col-xs-12">

<ul class="list-inline">
<li><i class="lni-phone"></i> +0123 456 789</li>
<li><i class="lni-envelope"></i> <a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0e7d7b7e7e617c7a4e69636f6762206d6163">[email&#160;protected]</a></li>
</ul>

</div>
<div class="col-lg-5 col-md-7 col-xs-12">
<div class="roof-social float-right">
<a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
<a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
<a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
<a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
<a class="google" href="#"><i class="lni-google-plus"></i></a>
</div>

{{> nav}}



{{> header}}

</header>


<div class="page-header" style="background: url(/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">About Us</h2>
<ol class="breadcrumb">
<li><a href="/">Home /</a></li>
<li class="current">About Us</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<section id="about" class="section-padding">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-12">
<div class="about-wrapper">
<h2 class="intro-title">Why We Are Unique</h2>
<p class="intro-desc">We help the market improve the level of productivity of its indigenes and potential business owners can also make their brand known through us
</p>
{{!-- <a href="#" class="btn btn-common btn-lg">Add Listing</a> --}}
</div>
</div>
<div class="col-md-6 col-lg-6 col-xs-12">
<img class="img-fluid" src="/img/about/about.png" alt="">
</div>
</div>
</div>
</section>


<section class="counter-section section-padding">
<div class="container">
<div class="row">

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-layers"></i></div>
<h2 class="counterUp">{{totalAds}}</h2>
<p>Ad Posted</p>
</div>
</div>

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-users"></i></div>
<h2 class="counterUp">{{totalMembers}}</h2>
<p>Members</p>
</div>
</div>

{{!-- <div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-briefcase"></i></div>
<h2 class="counterUp">2012</h2>
<p>Premium Ads</p>
</div>
</div> --}}

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-map"></i></div>
<h2 class="counterUp">100</h2>
<p>Locations</p>
</div>
</div>
</div>
</div>
</section>


<section class="services section-padding">
<div class="container">
<div class="row">

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.2s">
<div class="icon">
<i class="lni-book"></i>
</div>
<div class="services-content">
<h3><a href="#">Fully Documented</a></h3>
<p>Product Information is fully detailed and customer service is top notch </p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.4s">
<div class="icon">
<i class="lni-leaf"></i>
</div>
<div class="services-content">
<h3><a href="#">Clean & Modern Design</a></h3>
<p>User Interactive designs to keep your eyes glued to the screen</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.6s">
<div class="icon">
<i class="lni-map"></i>
</div>
<div class="services-content">
<h3><a href="#">Great Features</a></h3>
<p>Easily navigate your way through the site and its amazing features</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.8s">
<div class="icon">
<i class="lni-cog"></i>
</div>
<div class="services-content">
<h3><a href="#">Adequate Security </a></h3>
<p>Top notch security system to safe guard user information</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="1s">
<div class="icon">
<i class="lni-git"></i>
</div>
<div class="services-content">
<h3><a href="#">User Friendly</a></h3>
<p>Interactive Web Design Surface for easier Knowlegeability.</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="1.2s">
<div class="icon">
<i class="lni-layout"></i>
</div>
<div class="services-content">
<h3><a href="#">Awesome Layout</a></h3>
<p>View our Products in grid, list and normal page lay out of your choice</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="testimonial section-padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="testimonials" class="owl-carousel">
<div class="item">
<div class="img-thumb">
<img src="/img/testimonial/img1.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Josh Rossi</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="/img/testimonial/img2.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Priyanka</a></h2>
<h4><a href="#">CEO of Dropbox</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="/img/testimonial/img3.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Johnny Zeigler</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="/img/testimonial/img4.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Josh Rossi</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="/img/testimonial/img5.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Priyanka</a></h2>
<h4><a href="#">CEO of Dropbox</a></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


{{> footer}}


<a href="#" class="back-to-top">
<i class="lni-chevron-up"></i>
</a>

<div id="preloader">
<div class="loader" id="loader-1"></div>
</div>


<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/color-switcher.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/main.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.min.js"></script>
<script src="/js/summernote.js"></script>
</body>

</html>